<section id="map" class="p-6 rounded-lg">
    <h2 class="text-2xl font-semibold text-white">Places I've Visited</h2>
    <div class="mt-4 flex items-center justify-center">
        <div id="maparea" class="z-0 rounded-md">
            <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
        </div>
    </div>
</section>

<script>
    var places = {{ places|tojson|safe }};
</script>