cffi==1.15.0
click==8.0.1
cryptography==42.0.4
Flask==2.2.5
itsdangerous==2.0.1
Jinja2==3.1.4
MarkupSafe
peewee==3.14.10
pycparser==2.21
PyMySQL==1.1.1
python-dotenv==0.17.1
Werkzeug
requests==2.32.2
db-sqlite3
pydantic
pydantic[email]
pytest
pytest-flask
pytest-mock
requests-mock
