{% extends "layout.jinja2" %}

{% block main %}
<header class="text-white max-w-[1556px] mx-auto rounded-lg">
    <picture class="h-[300px] w-[100dvw] rounded-lg">   
        <source srcset="{{ url_for('static', filename='pwa/opengraph-image.png') }}" type="image/png">
        <img src="{{ url_for('static', filename='pwa/opengraph-image.png') }}" alt="Your Photo" class="mt-4 w-full h-full rounded-lg">
    </picture>
</header>
<main class="space-y-10">
    {% include 'views/about.jinja2' %}
    {% include 'views/work_experience.jinja2' %}
    {% include 'views/education.jinja2' %}
    {% include 'views/map.jinja2' %}
</main>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='scripts/map.js') }}"></script>
<script>
    setTimeout(() => {
        alert('It\'s not a bug, it\'s a feature! (I gave up <3)');
    }, 1000);
</script>
{% endblock %}