<footer>
    <div class="footer-content text-white">
        <p class="text-white">&copy; <span id="year"></span> Mike Odnis. All rights reserved.</p>
        <p class="text-white">Made with 💜 by <a class="underline underline-offset-4"  href="https://github.com/WomB0ComB0">Mike Odis</a></p>
    </div>
</footer>

{% block scripts %}
<script>
    const today = new Date();
    const year = today.getFullYear();
    document.getElementById('year').innerHTML = year;
</script>
{% endblock %}