<nav id="navbar" class="sticky top-3 z-50 max-w-[800px] px-4 py-2 mx-auto flex flex-row justify-between items-center bg-violet-500/50 dark:bg-violet-600/50 backdrop-blur-md rounded-full border-none shadow-none">
    <picture
        class="flex-shrink-0 mr-4"
    >
        <img onclick="window.location.href='{{ url_for('index') }}'" src="{{ url_for('static', filename='svg/logo.svg') }}" alt="Logo" class="w-11 h-11 rounded-full cursor-pointer">
    </picture>
    <ul class="text-white">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
        <li><a href="{{ url_for('projects') }}">Projects</a></li>
        <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
    </ul>
</nav>

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/nav.js') }}"></script>
{% endblock %}