{% extends "layout.jinja2" %}

{% block main %}
<header class="text-white max-w-[1556px] mx-auto rounded-lg">
<h1 class="text-4xl font-bold py-8">Contact Me</h1>
</header>
<section id="contact" class="p-6 bg-violet-500 dark:bg-violet-4000 rounded-lg">
    <form id="contact" onsubmit="return postToMailto();" class="mt-4 space-y-4">
        <label for="name" class="block text-lg text-white">Name</label>
        <input type="text" id="name" name="entry.538960720" data-name="Name" required class="p-2 border rounded w-full border border-[#D1D5DB] bg-white" placeholder="Your Name">

        <label for="profession" class="block text-lg text-white">Profession</label>
        <input type="text" id="profession" name="entry.1780789653" data-name="Profession" required class="p-2 border rounded w-full border border-[#D1D5DB] bg-white" placeholder="Your Profession">

        <label for="company" class="block text-lg text-white">Company</label>
        <input type="text" id="company" name="entry.884663504" data-name="Company" required class="p-2 border rounded w-full border border-[#D1D5DB] bg-white" placeholder="Your Company">

        <label for="email" class="block text-lg text-white">Email</label>
        <input type="email" id="email" name="entry.1948239600" data-name="Email" required class="p-2 border rounded w-full border border-[#D1D5DB] bg-white" placeholder="Your Email">

        <label for="subject" class="block text-lg text-white">Subject</label>
        <input type="text" id="subject" name="entry.1384000823" data-name="Subject" required class="p-2 border rounded w-full border border-[#D1D5DB] bg-white" placeholder="Subject">

        <label for="message" class="block text-lg text-white">Message</label>
        <textarea id="message" name="entry.711251017" data-name="Message" required class="p-2 border rounded w-full border border-[#D1D5DB] bg-white" placeholder="Your Message"></textarea>

        <button type="submit" class="px-4 py-2 bg-violet-800 text-white rounded border-none">Submit</button>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/contact.js') }}"></script>
{% endblock %}
