{% extends "layout.jinja2" %}

{% block main %}
<header class="bg-blue-600 text-white p-6">
    <h1 class="text-4xl font-bold">My Hobbies</h1>
</header>
<section id="hobbies" class="p-6">
    <ul class="space-y-4">
      {% for hobby in hobbies %}
      <li class="p-4 bg-white rounded shadow">
        <h3 class="text-xl font-bold">{{ hobby.name }}</h3>
        <img src="{{ url_for('static', filename='images/' ~ hobby.image) }}" alt="{{ hobby.name }}" class="mt-2 rounded w-32 h-32">
        <p class="mt-2">{{ hobby.description }}</p>
      </li>
      {% endfor %}
    </ul>
</section>
{% endblock %}
